.jsoneditor {
  border: 1px solid #555456 !important;
}

.jsoneditor-menu {
  background-color: #555456 !important;
  border-bottom: 1px solid #555456 !important;
  button {
    display: none !important;
  }
}
